@charset "UFT-8";

/* IMPORT DE FONTES */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=DM+Serif+Display:ital@0;1&family=Passion+One:wght@400;700;900&display=swap');

/* VARIÁVEIS DE CORES */

:root {
    --cor1: #000000;
    --cor2: #e53939;
    --fonte-padrão:
}

/* INCLUSÃO DE MEDIA QUERY */

@media (min-width: 320px) and (max-width: 700px) {

    #section1 {
        margin: auto; /* PARA CENTRALIZAR DIV */
        text-align: center;  /* PARA CENTRALIZAR TEXTO DA DIV */
        background-color: white;
        border-radius: 10px;
        padding: 15px;
        width: 250px;
        box-shadow: 5px 5px 10px rgba(177, 4, 4, 0.356); /* Deslocamento lateral, deslocamento vertical, espalhamento e cor da SOMBRA + configuração manual de transparencia*/
    }

}

header {
    color: white;
    text-align: center; /* PARA CENTRALIZAR CONTEUDO SEMÁNTICO */
    height: 30vh;
}

h1 {
    padding-top: 100px;
    color: #e53939;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

body {
    background-color: #000000;
    font: normal 15pt Arial;
}

section {
    margin: auto; /* PARA CENTRALIZAR DIV */
    text-align: center;  /* PARA CENTRALIZAR TEXTO DA DIV */
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(177, 4, 4, 0.356); /* Deslocamento lateral, deslocamento vertical, espalhamento e cor da SOMBRA + configuração manual de transparencia*/
}

div p {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    color: #e53939;
    text-align: center; /* PARA CENTRALIZAR CONTEUDO SEMÁNTICO */
    font-style: italic;
    padding-top: 200px;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

img {  /* PARA DEIXAR AS IMG'S NO PADRÃO */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 20px 0px 20px 0px;
  /* A config abaixo centralizam minha img*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}