@charset "UFT-8";

header {
    color: white;
    text-align: center; /* PARA CENTRALIZAR CONTEUDO SEMÁNTICO */
    height: 30vh;
}

h1 {
    padding-top: 100px;
}

body {
    background-color: rgb(108, 69, 214);
    font: normal 15pt Arial;
}

section {
    margin: auto; /* PARA CENTRALIZAR DIV */
    text-align: center;  /* PARA CENTRALIZAR TEXTO DA DIV */
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356); /* Deslocamento lateral, deslocamento vertical, espalhamento e cor da SOMBRA + configuração manual de transparencia*/
}

footer {
    color: white;
    text-align: center; /* PARA CENTRALIZAR CONTEUDO SEMÁNTICO */
    font-style: italic;
    padding-top: 200px;
}

img {  /* PARA DEIXAR AS IMG'S NO PADRÃO */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 20px 0px 20px 0px;
  /* A config abaixo centralizam minha img*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}



